.container{
    display: table;
    height: 100%;
    margin: 0 auto;
    white-space: nowrap;
}
.container-menu {
    float:left;
    width: 550px;
    height: 100%;
    padding: 10px;
    border: 0 solid #333333;
    border-right-width: 2px;
}
.container-automaton{
    margin-top: 25px;
    float: left;
}

.fieldset{
    padding: 1.0rem;
    margin: 0.2rem 0;
}